  body {
  font-family: monospace;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  color: #444
}
h1 {
  font: 300 30px/100% monospace;
}


a {
  color: #446688;
  text-decoration: none;
  outline: 0;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  color: #3c5977;
  border-color: #446688; }

a:active {
  border-width: 2px; }
